
{% extends "base.html" %}

  
{% block content %}
      
      <div class="well">
        <h1>
          {% if author_list|length > 1 %}
            {{author_list|length}} authors
          {% elif author_list|length == 1 %}
             {{author_list|length}} author
          {% else %}
              authors list empty
          {% endif %}
        </h1>
        {% for author in author_list %}
          <div class="panel panel-default">
            <div class="panel-body">
              <h3><a href="{% url 'author_details' author_id=author.id %}">{{author}}</a></h3>
            </div>
          </div>
      {% endfor %}
      </div>

{% endblock content %}